*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    text-transform:uppercase;
    margin: 50;
}

.main{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addlist{
    display: flex;
    flex-direction: row;
    justify-self: center;
}
.addlist > #item{
    width: 0%;
}

.list{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.itemlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}