body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0 0 0 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 60rem;
  min-height: 6rem;
  margin-bottom: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90vw;
  text-align: center;
}

main > header > h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
}

main > div#addItem {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 4rem;
  max-width: 60rem;
  min-height: 6rem;
  margin-bottom: 1rem;
  padding: 0;
  width: 90vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main > div#addItem > input#taskName {
  border: 1.5px solid #000;
  border-radius: 0.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  height: 4rem;
  padding: 0 1rem;
  width: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

main > div#addItem > Button#addBtn {
  border: 1.5px solid #000;
  border-radius: 0.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem;
  height: 4rem;
  padding: 0 1rem;
  width: 20%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

main > ul#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 60rem;
  min-height: 6rem;
  padding: 0;
  width: 90vw;
  list-style: none;
}

main > ul#list > li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #000;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

main > ul#list > li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main > ul#list > li input[type="checkbox"] {
  margin-right: 1rem;
}

main > ul#list > li input:checked + span {
  text-decoration: line-through;
}

main > ul#list > li button {
  padding: 0 0.5rem;
  font-size: 1rem;
}

main > ul#list > li span {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */